modules = ["dotnet-8.0", "java-graalvm22.3"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API"

[[workflows.workflow]]
name = "API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet run"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 43733
externalPort = 3000
